.row { 
    display: flex;
    
}

.column { 
    width: 40px;
    height: 40px;
    justify-self: center;
    align-self: center;
    background-color: #fff;
    border : 1px solid #000;
    text-align: center;
}

.column-hover { 
    background-color: blue;
}
