.hover-table { 
   display: flex;
   flex-direction: column;
   margin: 0 50px 50px;
}

.hover-table-row { 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    /* margin-left: 50px; */
   /* padding: 10px; */
   /* border-bottom: 1px solid #000; */
}

.hover-table-row > div { 
    padding: 10px;
    width: 200px;
    border: 1px solid #000;
    margin: 5px;
}